<div data-role="layout" data-id="app">
    <header data-role="header">
        <div data-role="navbar">Conference Tracker</div>
    </header>
    <footer data-role="footer">
        <div data-role="tabstrip">
            <a href="#info" data-icon="info">Info</a>
            <a href="#schedule" data-icon="recents">Schedule</a>
        </div>
    </footer>
</div>

<div data-role="view" data-init="getInfo" data-layout="app" data-title="info" id="info">
	   <div id="news"></div>
</div>

<div data-role="view" data-layout="app" data-init="getSessions" data-title="schedule" id="schedule">
  <ul id="sessions"></ul>
</div>

<script type="text/x-kendo-template" id="sessionsTemplate">
	<div class="left">
		<div class='time'>${ formatted_time }</div>
		<div class='speaker'>${ speaker }</div>
	</div>
	<div>${ title }</div>
</script>
<script>
	// creates the application UI
    var application = new kendo.mobile.Application();
	
	var getInfo = function() {
		// read from the remote data source
      	$.get("infos.json", function(data) {
			$.each(data, function() {
				$("#news").append("<p class='info'>" + this.content + "</p>");
			});
		});
	}
	
	var getSessions = function() {
		$("#sessions").kendoMobileListView({
			dataSource: kendo.data.DataSource.create({ 
				transport: {
					read: "sessions.json"
				},
				group: "day",
				sort: { field: "time", dir: "asc" }
			}),
			template: $("#sessionsTemplate").html()
		});
	}

</script>
